<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Spotthestation2", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="phx-hero">
        <p>Get calender events when the ISS is over you</p>
        <h1>SpotTheStation iCal Feed</h1>
      </section>
      <section class="container">
        <a title="NASA/Roscosmos, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:ISS-56_International_Space_Station_fly-around_(07).jpg"><img alt="ISS-56 International Space Station fly-around (07)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/ISS-56_International_Space_Station_fly-around_%2807%29.jpg/800px-ISS-56_International_Space_Station_fly-around_%2807%29.jpg"></a>
      </section>
      <section class="container">
        <p>Attribution: NASA/Roscosmos, Public domain, via Wikimedia Commons</p>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
